* {
	margin: 0;
	padding: 0;
	font-family: 微软雅黑;
	font-size: 14px;
}

.info-nav {
	overflow: hidden;
}

.info-nav li {
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border: 1px solid red;
	float: left;
}

.info-nav, .info-nav li {
	list-style: none;
}

